body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: blue;
}

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: #dda0dd;
}

td {
    border: 1px solid darkorchid;
    padding: 5px;
}

.attribute {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5dc;
}

